# .env.example

# LINE Channel Secret（從 LINE Developers 後台取得）
CHANNEL_SECRET=your_channel_secret_here

# LINE Channel Access Token（長串字元，以 eyJ 或 ch 開頭）
CHANNEL_ACCESS_TOKEN=A+vDoSUXhSbIEjPVej4aKMezFUXSRHNeytxhmhGwClawXksYKurtZKrRlA66DRa277f0ST+Zx+sZszIEtYiRKmtQloSw+vlQWFjinZPigfZn7TaS2HJmu9Zr6DqCTvvcU/ZNiQZ787vB+byK7AfzOgdB04t89/1O/w1cDnyilFU=

# 你的服務URL（Render）
# Render 會自動提供 PORT 環境變數，但建議保留備用
KEEP_ALIVE_URL=https://jiurong-yoga-bot.onrender.com
PORT=3000
#老師登入密碼
TEACHER_PASSWORD=9527
#管理員的 LINE userId
ADMIN_USER_ID=yeh0930139636
#購點表單連結
PURCHASE_FORM_URL=www.lunatang.yoga.com.tw
