# .env.example

# LINE Channel Secret（從 LINE Developers 後台取得）
CHANNEL_SECRET=your_channel_secret_here

# LINE Channel Access Token（長串字元，以 eyJ 或 ch 開頭）
CHANNEL_ACCESS_TOKEN=your_channel_access_token_here

# 你的服務URL（Render）
# Render 會自動提供 PORT 環境變數，但建議保留備用
KEEP_ALIVE_URL=https://jiurong-yoga-bot.onrender.com
PORT=3000
#老師登入密碼
TEACHER_PASSWORD=9527
#管理員的 LINE userId
ADMIN_USER_ID=yeh0930139636
